<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {title} ) %> 


<body>
    <header>
        <%- include('./partials/navbar') %> 
    </header>

    <main class="container mt-5">
        <h1 class="text-danger"> ERROR! </h1>
        <p> <%= msg %>  </p>
    </main>
    
</body>
</html>