<nav class="navbar bg-dark mb-5">
    <div class="container">
      <a class="navbar-brand text-light" href="/">Home</a>
      <div class="d-flex justify-end text-light">

          <a class="navbar-brand text-light mx-5" href="/publisher/marvel">Marvel Heroes</a>
          <a class="navbar-brand text-light" href="/publisher/dc">DC Heroes</a>
          <a class="btn btn-outline-primary" href="/hero/create">Create a Hero</a>
        </div>
    </div>
</nav>
